@import "../styles.scss";
:host {
  // AV change
  background: #ffffff;
}

.header {
  &__top-navbar li:nth-child(6) {
    margin-right: 10rem !important;
  }
  &__hamburger {
    background-color: transparent !important;
  }
}
