:host {
  // AV change
  background: #ffffff;

  .header {
    &__hamburger {
      background-color: #282d32 !important;
    }
  }
}

@media (max-width: 1199px) {
  :host {
    .header__top {
      &-navbar {
          display: none;
      }
    }
  }
}