upscale-template[data-name="Contact Us"] {
  upscale-attribute-set {
    width: 650px;
    height: auto;
    margin: 25px auto;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .resizable-input-limit {
    display: none;
  }

  label {
    display: block;
    float: center;
  }

  input {
    background-color: transparent;
    border-radius: 5px !important;
    border-style: solid !important;
    border-width: 1px !important;
    border-color: #000 !important;
    margin-top: 10px !important;
    padding-left: 10px !important;
    margin-bottom: 20px !important;
    padding-top: 8px !important;
  }

  input:focus {
    outline: 0;
    border: 1px solid #282d32;
  }

  textarea:focus {
    outline: 0;
    border: 1px solid #282d32;
  }

  .container {
    padding: 0 !important;
  }
  
  .section__button {
    background-color: #e8b331 !important;
    color: #000 !important;
    width: auto !important;
    padding: 10px !important;
  }

  .attribute-sets-headline {
    font-family: "Nunito", sans-serif !important;
  }
}
