@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap");
html * {
  font-family: "Nunito", sans-serif;
}

body {
  background-color: $color-white;
}

upscale-header {
  @media (max-width: 1199px) {
    padding: 0 !important;
  }
}

upscale-browse {
  min-height: 800px;
}

textarea {
  background-color: transparent;
  border-radius: 5px !important;
  border-style: solid !important;
  border-width: 1px !important;
  border-color: #000 !important;
  margin-top: 10px !important;
  padding-left: 10px !important;
  margin-bottom: 20px !important;
  padding-top: 8px !important;
}

::-webkit-input-placeholder {
  color: #a8a8a8;
}

::-webkit-textarea-placeholder {
  color: #a8a8a8;
}

.coop-spacer {
  min-height: 350px;
}

// ## Corporative colors ##

// Button when the cart is clean
.cart-empty__start-shopping-button {
  background-color: #e8b331 !important;
  color: #000 !important;
}

// Checkout buttons and radio-buttons
.checkout-forms button {
  background-color: #e8b331 !important;
  color: #000 !important;
}

.shipping__radio-button::after {
  background-color: #e8b331 !important;
}

// Mini Cart button
.shopping-cart-icon__badge {
  background-color: #e8b331 !important;
  
  .shopping-cart-icon__badge-count {
    color: #000 !important;
  }
}

// Ship to me / Free in-store pickup radio-buttons
.mat-radio-outer-circle {
  border-color: #e8b331 !important;
}
.mat-radio-inner-circle {
  background-color: #e8b331 !important;
}

// Order confirmation page
.shopping-button {
  background-color: #e8b331 !important;
  color: #000 !important;
}

// Next sell
.carousel-container .text-button {
  background-color: #e8b331 !important;
  color: #000 !important;
  border: none !important;
}