.banner-content {
    margin: 0;
  }
  .banner-image {
    min-height: 750px;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url("https://aws-sam-cli-managed-default-samclisourcebucket-27gfhpe3xbrv.s3.eu-west-1.amazonaws.com/demo-agri-data/images/wallpapers/wallpaper-agricultural-2-1440p.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
  }
  .banner-title {
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    margin-top: -2.5%;
  }

  .custom-shape-divider-bottom-1626869043 {
    margin-top: -10%;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 1;
    transform: rotate(180deg);
  }

  .custom-shape-divider-bottom-1626869043 .shape-fill {
    fill: #ffffff;
  }