@import '~styles/helpers/_module';

$card-background: #ffffff;
$card-text-align: left;
$card-text-color: #9b9b9b;
$card-headline-text-color: #424242;
$card-link-text-color: #005cc4;

:host {
	display: flex;
	align-items: center;
	justify-items: center;
	background-color: $card-background;
	border-radius: 2px;
	overflow: hidden;
	text-align: $card-text-align;
	color: $card-text-color;
}

.image {
	min-width: 125px;
	flex: 0 0;
	align-self: stretch;
	height: auto;
}

.content {
	width: 100%;
	box-sizing: border-box;
	padding: 6px 12px 6px 6px;
}

.headline {
	@include base-font-size;
	font-weight: 500;
	color: $card-headline-text-color;
	background-color: aquamarine;
}

.sub-headline {
	@include small-font-size;
	margin-top: 6px;
	color: #000000;
}

.excerpt {
	@include small-font-size;
	margin-top: 12px;
	padding-bottom: 12px;
	color: #000000;
}

.metadata {
	@include font-size(10);
	line-height: 1.4;
	margin-top: 6px;

	span + span {
		margin-left: 1em;
	}
}

.more {
	text-decoration: underline;
	@include small-font-size;
	color: $card-link-text-color;
	margin-top: 12px;
}

.more-button {
	background-color: #000000;
	color: #ffffff;
	font-weight: 300;
	border-radius: 2px;
}

@media (min-width: 601px) {
	.image {
		min-width: 200px;
	}
	.content {
		width: 100%;
		box-sizing: border-box;
		padding-left: 24px;
	}
	.headline {
		@include large-font-size;
	}
	.sub-headline {
		@include article-subheadline-font-size;
	}
	.excerpt {
		@include base-font-size;
	}
}

/////////////////////////

:host.article-card-component-column {
	display: block;

	.image {
		display: block;
	}

	// lock generic-image to 1:1 aspect ratio based on width
	upscale-aspect-ratio-image {
		height: auto;
		padding-bottom: 100%;
	}
}
